@import url('https://fonts.googleapis.com/css?family=Alegreya:700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.browsing-parent {
    height: 80vh;
    width: 75vw;
    background-color: #c6b38e;
}

.browsing-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BrowsingView div > h1 {
    font-family: 'Alegreya';
    color: #4e1e29;
}